<!DOCTYPE html>
<html>
    <head>
        <title>Mostrar</title>
        <meta charset="utf-8">
    </head>
    <body>  
        <%= s1 %>
        +
        <%= s2 %>
        =
        <%= total %>
        <p>
            <a href="/sumador">Volver</a>
        </p>
        </body>
</html>