<!DOCTYPE html>
<html>
    <head>
        <title>Sumador</title>
        <meta charset="utf-8">
    </head>
    <body>
        <p>  
            SUMADOR DE NUMEROS
        </p>
        <p>
            introduce el primer numero
        </p>
        <form action="/setSumador" method="GET">
            <p>
                <input type="text" name="valor">
            </p>
            <p>
                <input type="submit" value="Enviar">
            </p>
        </form> 
    </body>
</html>