<!DOCTYPE html>
<html>
    <head>
        <title>Lista de usuarios</title>
        <meta charset="utf-8">
    </head>
    <body>  
        <ul>
            <% users.forEach(function(user , i) { %>
                <li><%= user %></li>
                <a href="/borrar/<%= i %>">Borrar</a>
            <% }); %>
        </ul>
        <ul>
            <form method="POST" action="borrar">
                <% users.forEach(function(user , i) { %>
                    <li><%= user %></li>
                    <input type="hidden" name="id" value="<%= i %>">
                    <input type="submit" value="Enviar">
                <% }); %>
            </form>
        </ul>
    </body>
</html>